@charset "utf-8";
/* CSS Document */

/****重置性代码样式****/
@font-face {
    font-family: 'Microsoft YaHei';
}
*{
	margin: 0;
	padding: 0;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input, select {
	height: 30px;
	font-size: 14px;
	outline: medium;
	border: 2px solid #ccc;
	background: #f2f2f2;
	overflow:hidden; 
}
body, h1, h2, h3, h4, h5, h6, p, blockquote,div, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, a, span, i, b, /* list elements 列表元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td /* table elements 表格元素 */ {
	margin: 0;
	padding: 0;
	color: #323232;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
button {
	border: none;
	outline: none;
}
textarea {
	outline: none;
	resize: none;
	font-size: 16px;
}
body {
	background-color: #f2f2f2;
}

